html,
body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    height: 100%;
}

.content-box {
    flex: 1;
    background: #fff;
    margin-left: 2rem;
    margin-right: 2rem;
    height: auto;
    /* padding: 20px 40px; */
}

.sidebar {
    box-shadow: 2px 0px 0px 0px rgba(99, 99, 99, 0.1);
    padding: 20px;
    width: 180px;
    overflow: hidden;
}

.logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-title img {
    /* height: 50px; */
    width: 35px;
    margin-right: 1px;
}

.logo-title h1 {
    margin: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.sidebar ul>ul {
    padding-left: 10px;
}

.sidebar ul>li {
    margin-bottom: 5px;
}