.navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 1rem 1.15rem;
    border-bottom: 1px solid #eceef3;

    /* Fixar posição */
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar>.navbar-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-container {
    width: 1170px;
    position: relative;

    margin-right: auto;
    margin-left: auto;

    padding-left: 15px;
    padding-right: 15px;

}

.navbar-header {
    display: flex;
    align-items: center;

    >a {
        color: rgb(79, 219, 86);
        text-decoration: none;
    }
}

.navbar-header h2 {
    margin: 0px;
    box-shadow: none;
}

.navbar-header img {
    vertical-align: middle;
    width: 2.5rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}

.navbar-nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    >li {
        >a {
            color: #3c4250;
            font-size: 1.2rem;
            text-decoration: none;
            display: inline-block;
            padding: 0.5rem 1rem;

            &:hover {
                color: rgb(79, 219, 86);
            }
        }

        &.active {
            a {
                color: rgb(79, 219, 86);
                font-weight: 580;
            }
        }
    }
}